* {

    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    background-color: #effbf7;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
    
}

header{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: grey;
}

.links{
    display: flex;
    /* gap: 3%; */
    justify-content: space-between;
    width: 50%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    width: 10%;
    
}

.buttons button:nth-child(1){
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.buttons button:nth-child(2){
    background: linear-gradient(45deg,#ff0095, #FF00FF );
    color: #1A1A1D;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 3%;
}

h1 {
    font-size: clamp(3.5rem, 10vw, 5rem);
    color: #262849;
}

h2 {
    font-size: clamp(3.0rem, 8vw, 4rem);
}

h3 {
    font-size: clamp(2.0rem, 5vw, 2rem);
}

p {
    color: #80807f;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.home{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    height: auto;
    margin: 0 auto 10%;
}

.right{
    width: 50%;
}

h1 span{
    color: red;
    text-decoration: underline;
}

.download-btns{
    display: flex;
    gap: 5%;
}

.download-btns button:nth-child(1){
    background-color: #262849;
    color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    gap: 10px;
    align-items: center;

}

.download-btns i{
    font-size: 32px;
}

.download-btns button:nth-child(2) {
    color: #262849;
    border: solid #262849 1px;
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    gap: 10px;
    align-items: center;

}

.right a{
    color: #262849;
    font-weight: 600;
}


.home .left{
    width: 50%;
    position: relative;
    transform: rotate(-10deg);
}

.user-account{
    background-color: white;
    padding: 10%;
    border-radius: 40px;
    width: 80%;
}

.notification{
    display: flex;
    gap: 5%;
    align-items: center;
}

.image{
    border: 5px solid #f3cac4;
    /* mask-image: conic-gradient(#fff 0% 80%, transparent 80% 100%); */
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    width: 80px;
    height: 80px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.notification p{
    background-color: #effbf7;
    padding: 10%;
    border-radius: 20px;
    color: blue;
}

.name-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bolded{
    font-weight: 600;
    color: black;
}

.avartars{
    right: 0%;
    top: 40%;
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    height: 300px;
    width: 200px;
    position: absolute;
    transform: rotate(10deg);
}

.speed{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    background-color: white;
    padding: 5%;
    border-radius: 20px;
    position: absolute;
    margin-top: 5%;
    left: -20%;
}

.rounded{
    border: blue 5px solid;
    border-radius: 50%;
    padding: 5%;
}

.salary{
    position: relative;
}

.salary img{
    position: absolute;
    right: -30%;
    top: 30%;
    width: 300px;
    border-radius: 20px;

}


/* companies section */
.companies{
    text-align: center;
    margin: 10% auto;
}

.companies-logo{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.companies-logo img{
    width: 200px;
    height: 100px;
    object-fit: contain;
}

/* products section */
.products{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.products-div{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding: 5%;
}

.products h2 span{
    color: red;
    text-decoration: underline;
}

.product{
    background-color: white;
    padding: 5%;
    border-radius: 20px;
}

.product:nth-child(1){
    border: 1px solid #FF00FF;

    i{
        color: white;
        font-size: 20px;
        background-color: #f3cac4;
        padding: 10px;
        border-radius: 50%;

    }
}

.product:nth-child(2) i{
    /* color: white; */
    font-size: 20px;
    background-color: #97e9f4;
    padding: 10px;
    border-radius: 50%;
}

.product:nth-child(3) i{
    background-color: #f3cac4;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}

/* statistics section */
.statistics{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin: 5% auto;
}


.numbers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

.numbers .bolded{
    font-size: 50px;
}

.title h1{
    text-align: center;
}

.mobile-interface{
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
}

.mobile{
    width: 40%;
}

.mobile i{
    color: #ff0095;
    font-size: 32px;
    padding-left: 20px;
}

.mobile h3{
    color: #262849;
}

.mobile button{
    padding: 15px 30px;
    color: white;
    background-color: #262849;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

.mobile-interface .right{
    display: flex;
    width: 60%;
    transform: rotate(10deg);
    gap: 10%;
}

.right .settings{
    width: 50%;
    margin-top: 5%;
}

.settings i{
    font-size: 24px;
}

.settings .user,.settings .language{
    display: flex;
    align-items: center;
    gap: 5%;
}

.call-to-ation{
    width: 50%;
} 

.female-user img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

/* testimonials */
.testimonials{
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 10%;
    margin: 0 auto 5%;
    align-items: center;
}

.client{
    border: solid 1px #ff0095;
    padding: 5%;
    border-radius: 20px;

}


.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.apps{
    display: flex;
    justify-content: space-between;
}

.illustrator-image{
    width: 50%;
    height: 50vh;
    /* padding: 5%; */
    border-radius: 20px;
}

.illustrator-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.apps span, .apps a{
    text-decoration: underline;
    color: #262849;
    font-weight: 600;
}

footer{
    background-color: #262849;
    color: white;
}

footer .socials{
    display: flex;
    gap: 10%;
    align-items: center;

}

footer .links{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5% auto;
}

.copyright{
    display: flex;
    justify-content: space-between;
    background-color: #1A1A1D;
    padding: 0 10%;
}

.terms{
    display: flex;
    gap: 10%;
    width: 50%;
    justify-content: flex-end;
}

/* Mobile menu */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and  (max-width: 768px) {

    nav .links,
    nav .buttons {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .hamburger{
        display: flex;
    }

    .home {
        flex-direction: column;
        gap: 20px;
    }

    .left,
    .right {
        width: 100%;
    }

    .products-div,
    .companies-logo,
    .testimonials,
    .apps,
    .statistics {
        flex-direction: column;
        gap: 20px;
    }

    .mobile-interface {
        flex-direction: column;
    }

    .mobile,
    .right {
        width: 100%;
    }

    footer .links {
        flex-direction: column;
        gap: 20px;
    }
}



@media (min-width: 1025px) {
    .container {
        width: 85%;
    }

    .links,
    .buttons {
        width: 50%;
    }

    .home {
        gap: 10%;
    }

    .products-div,
    .companies-logo,
    .testimonials,
    .apps,
    .statistics {
        flex-direction: row;
        gap: 5%;
    }

    .mobile-interface {
        flex-direction: row;
    }

    .mobile,
    .right {
        width: 40%, 60%;
    }
}
